<h1>recipes</h1>

<h3>Search for a recipe</h3>


<%= form_tag(recipes_path, method: 'get') do %>
  <%= text_field_tag(:search_term, params[:search_term]) %>
  <%= submit_tag("Search", name:nil) %>
<% end %>

<% if @search_result.any? %>
  <ul>
    <% @search_result.each do |result| %>
    <li><%=result.name %></li> 
    <% end %>
  </ul>
<% end %>


<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>









<p><%= link_to "Create new recipe", new_recipe_path %></p>